*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headerbox{
    text-align: center;
    background-color:#400000;
    color: white;
    font-family: 'lucida handwriting';
    font-size: 36px;
    padding:50px;
}
.txtboxwrap{
    font-family: 'arial';
    background-color: black;
    color:white;
    display: flex;
    padding: 30px;
}
.gordon{
   width:50%; 
   padding: 20px;
}
.txtbox{
    width:50%;
    font-size: 24px;
}
.link{
    background-color: black;
}


.navbar-brand{
    color: #124E78 !important;
    background-color: #FFE3E0 !important;
    /*font-family: Didot, "Didot LT STD";*/
    font-family: 'Courier New', monospace;
    font-size: 40px;
    text-align: center;
    width: 100%px;
    height: 200%px;
    margin-left: 3%;
}
.navbar{
    color: red;
    background-color: red !important;
    height: 55px;
}
.navbar-nav{
    justify-content: space between;
    width: 300% !important;
    margin-left: 60%;
    background-color: #FFE3E0;
    /*height: 100px !important;*/
}
.nav-item{
    color:#124E78 !important;
    background-color: #FFE3E0;
    width: 100%;
    text-align: center;
    z-index: 99 !important;
}
.active{
    color: green;
}
.collapse{
    background-color: red !important;
}